@import '../../mixin.scss';

.logo {
  width: 150px;
  display: block;
  margin: 0 0 20px 0;
  object-fit: contain;

  &__question {
    @include onSmallScreen {
      margin: 0 0 5px 0;
  margin: 0;

    }
  }

  @include onSmallScreen {
    width: 70px;
    height: 17px;
  }
}