.start {
  &__header {
    text-align: center;
    margin: 0 0 30px 0;
    font-size: 28px;
    font-weight: 700;
  }

  &__link {
    line-height: normal;
    box-sizing: content-box;
    padding: 5px 30px;
    transition: transform .6s ease-out,opacity .6s ease-out,visibility .6s ease-out,background-color .6s ease-out,border-color .6s ease-out,color .6s ease-out,padding .6s ease-out,box-shadow .6s ease-in-out;
    margin-top: 50px;
    width: 100%;
    max-width: 230px;
    margin: 45px auto 0;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    border: 0px solid rgb(255, 255, 255);
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

    @media (max-width: 375px) {
      max-width: 210px;
      height: 86px;
    }
  
    &:hover {
      padding-left: 52px;
      padding-right: 52px;
      color: #000;

      @media (max-width: 375px) {
        padding: 5px 30px;
      }
    }
  }
}