@import "~bootstrap/scss/bootstrap";
@import './Components/MyButton/MyButton.scss';
@import './Components/Question/Question.scss';
@import './Components/DetailedQuestion/DetailedQuestion.scss';
@import './Components/Error/Error.scss';
@import './Components//Finish/Finish.scss';
@import './Components/Logo/Logo.scss';
@import './Components/Start/Start.scss';
@import './Components/Counter/Counter.scss';
@import './mixin.scss';

html body {
  margin: 0;
  padding: 0;

  @include onSmallScreen {
    height: 100%;
  }
}

body {
  background-color: #FAC865;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  padding: 60px 20px;
  max-width: 800px;
  margin: 0 auto;

  @include onSmallScreen {
    padding: 0px 20px;
  }

  &--beforeStart {
    padding: 170px 20px;

    @include onSmallScreen {
      padding: 170px 20px;
    }
  }

  &__wrapper {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &--afterStart {
      @include onSmallScreen {
        min-height: 100%;
      }
    }
  }
}